<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="author" content="Prince">
        <link rel="stylesheet" href="/css/main.css" />
        <script src="/js/legoSets.js"></script>
        <title>Lego Collection</title>
    </head>

    <body class="grid grid-rows-[auto,1fr,auto] min-h-screen">
        <header>
            <%- include('partials/navbar', {page: '/'}) %>
        </header>

        <main>    
            <section class="hero bg-blue-500 text-white p-10 text-center">
                <h1 class="text-4xl mb-4">Explore Our Lego Collection</h1>
            </section>

            <section class="grid grid-cols-1 md:grid-cols-3 gap-8 p-10">
                <div class="card bg-white p-6 rounded-lg shadow-md">
                    <img src="/images/lego/028-1.jpg" alt="Lego Set 1" class="w-full h-64 object-cover mb-4 rounded"/>
                    <h2 class="text-2xl mb-2">Nursery Furniture</h2>
                    <p class="mb-4">Big furniture for big peers</p>
                    <a href="/lego/sets/028-1" class="btn bg-blue-500 text-white py-2 px-4 rounded">View Set</a>
                </div>
                <div class="card bg-white p-6 rounded-lg shadow-md">
                    <img src="/images/lego/0241187567-1.jpg" alt="Lego Set 2" class="w-full h-64 object-cover mb-4 rounded"/>
                    <h2 class="text-2xl mb-2">Ninjango: Build your own adventure>></h2>
                    <p class="mb-4">Create your own ninja adventure....</p>
                    <a href="/lego/sets/0241187567-1" class="btn bg-blue-500 text-white py-2 px-4 rounded">View Set</a>
                </div>
                <div class="card bg-white p-6 rounded-lg shadow-md">
                    <img src="/images/lego/050-2.jpg" alt="Lego Set 3" class="w-full h-64 object-cover mb-4 rounded"/>
                    <h2 class="text-2xl mb-2">Lightning Device Pack</h2>
                    <p class="mb-4">Ever wonder how it feels like to design your own lightning device? Nows your chance to find out.</p>
                    <a href="/lego/sets/050-2" class="btn bg-blue-500 text-white py-2 px-4 rounded">View Set</a>
                </div>
               
               
               
                </div>
            </section>
        </main>

        <%- include('partials/footer') %>
        
    </body>
</html>